In [5]:
# Carter Naegle & Cabot Steward

# Don't normalize much
# fewer than 12 tables

import pandas as pd
import psycopg2
import pymssql

post_conn = psycopg2.connect(
    database='iwdm',
    user='postgres',
    password='ytncepWdpZ9LTQkVoRYV',
    host='data-pipelines.ctygwa4a0t4s.us-west-1.rds.amazonaws.com',
    port= '5432'
)

ssms_conn = pymssql.connect(server='stairwaytoheaven.usu.edu',
                       user='5330user',
                       password='pipelinesnow',
                       database='ironwill')

post_cursor = post_conn.cursor()
ssms_cursor = ssms_conn.cursor()

OperationalError: (20009, b'DB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (stairwaytoheaven.usu.edu)\nNet-Lib error during Connection timed out (110)\nDB-Lib error message 20009, severity 9:\nUnable to connect: Adaptive Server is unavailable or does not exist (stairwaytoheaven.usu.edu)\nNet-Lib error during Connection timed out (110)\n')

In [ ]:
tables = [
  """CREATE TABLE IF NOT EXISTS 'weather_station' (
    'stadium_weather_station_id' SERIAL,
    'stadium_weather_station_code' VARCHAR(20),
    'station_name' VARCHAR(70),
    'latitude' NUMERIC(9,5),
    'longitude' NUMERIC(9,5),
    'elevation' NUMERIC(7,2),
    PRIMARY KEY ('stadium_weather_station_id')
  );""",
  """CREATE TABLE IF NOT EXISTS 'nfl_stadium' (
    'stadium_id' SERIAL,
    'stadium_name' VARCHAR(50),
    'stadium_city' VARCHAR(50),
    'stadium_state' VARCHAR(20),
    'stadium_open_year' DATE(YEAR),
    'stadium_close_year' DATE(YEAR),
    'stadium_type' VARCHAR(15),
    'stadium_surface' VARCHAR(15),
    'stadium_capacity' INT,
    'stadium_weather_type' VARCHAR(10),
    'stadium_weather_station_id' INT,
    PRIMARY KEY ('stadium_id'),
    CONSTRAINT 'FK_nfl_stadium.stadium_weather_station_id'
      FOREIGN KEY ('stadium_weather_station_id')
        REFERENCES 'weather_station'('stadium_weather_station_id')
  );""",
  """CREATE TABLE IF NOT EXISTS 'customer' (
    'customer_id' SERIAL,
    'customer_first_name' VARCHAR(50),
    'customer_last_name' VARCHAR(50),
    'customer_age' SMALLINT,
    'customer_type' VARCHAR(25),
    'customer_since' DATE(YEAR),
    'customer_income' INT,
    'household_size' SMALLINT,
    'mode_color' VARCHAR(10),
    PRIMARY KEY ('customer_id')
  );""",
  """CREATE TABLE IF NOT EXISTS 'teams' (
    'team_id' SERIAL,
    'team_name' VARCHAR(50),
    'team_name_short' VARCHAR(25),
    'team_abv' VARCHAR(4),
    'team_abv_pfr' VARCHAR(4),
    'team_conference' VARCHAR(4),
    'team_division' VARCHAR(12),
    'team_conference_pre2002' VARCHAR(4),
    'team_division_pre2002' VARCHAR(15),
    PRIMARY KEY ('team_id')
  );""",
  """CREATE TABLE IF NOT EXISTS 'game' (
    'game_outcome_id' SERIAL,
    'schedule_date' DATE,
    'schedule_season' DATE(YEAR),
    'schedule_week' VARCHAR(12),
    'schedule_playoff' BOOLEAN,
    'team_id_home' INT,
    'score_home' SMALLINT,
    'team_id_away' INT,
    'score_away' SMALLINT,
    'winner_ou' VARCHAR(4),
    'winner_line' VARCHAR(4),
    'team_favored' VARCHAR(3),
    'favored_spread' NUMERIC(3,1),
    'over_under_line' NUMERIC(3,1),
    'stadium_id' INT,
    'stadium_neutral' BOOLEAN,
    'weather_temperature' SMALLINT,
    'weather_wind_mph' SMALLINT,
    'weather_humidity' SMALLINT,
    'weather_detail' VARCHAR(15),
    PRIMARY KEY ('game_outcome_id'),
    CONSTRAINT 'FK_game.stadium_id'
      FOREIGN KEY ('stadium_id')
        REFERENCES 'nfl_stadium'('stadium_id'),
    CONSTRAINT 'FK_game.team_id_home'
      FOREIGN KEY ('team_id_home')
        REFERENCES 'teams'('team_id'),
    CONSTRAINT 'FK_game.team_id_away'
      FOREIGN KEY ('team_id_away')
        REFERENCES 'teams'('team_id')
  );""",
  """CREATE TABLE IF NOT EXISTS 'placed_bet' (
    'bet_id' SERIAL,
    'customer_id' INT,
    'game_outcome_id' INT,
    'bet_amount' SMALLINT,
    'bet_result' VARCHAR(4),
    'commision_paid' NUMERIC(8,2),
    'bet_on' VARCHAR(40),
    'bet_type' VARCHAR(10),
    PRIMARY KEY ('bet_id'),
    CONSTRAINT 'FK_placed_bet.customer_id'
      FOREIGN KEY ('customer_id')
        REFERENCES 'customer'('customer_id'),
    CONSTRAINT 'FK_placed_bet.game_outcome_id'
      FOREIGN KEY ('game_outcome_id')
        REFERENCES 'game'('game_outcome_id')
  );"""]

for i in tables:
  post_cursor.execute(i)

post_cursor.commit()

CREATE TABLE 'weather_station' (
    'stadium_weather_station_id' SERIAL,
    'stadium_weather_station_code' VARCHAR(20),
    'station_name' VARCHAR(70),
    'latitude' NUMERIC(9,5),
    'longitude' NUMERIC(9,5),
    'elevation' NUMERIC(7,2),
    PRIMARY KEY ('stadium_weather_station_id')
  );
CREATE TABLE 'nfl_stadium' (
    'stadium_id' SERIAL,
    'stadium_name' VARCHAR(50),
    'stadium_city' VARCHAR(50),
    'stadium_state' VARCHAR(20),
    'stadium_open_year' DATE(YEAR),
    'stadium_close_year' DATE(YEAR),
    'stadium_type' VARCHAR(15),
    'stadium_surface' VARCHAR(15),
    'stadium_capacity' INT,
    'stadium_weather_type' VARCHAR(10),
    'stadium_weather_station_id' INT,
    PRIMARY KEY ('stadium_id'),
    CONSTRAINT 'FK_nfl_stadium.stadium_weather_station_id'
      FOREIGN KEY ('stadium_weather_station_id')
        REFERENCES 'weather_station'('stadium_weather_station_id')
  );
CREATE TABLE 'customer' (
    'customer_id' SERIAL,
    'customer_first_name' VARCHAR(50),
    'customer_last_name' VARCHAR(50),
    'customer_age' SMALLINT,
    'customer_type' VARCHAR(25),
    'customer_since' DATE(YEAR),
    'customer_income' INT,
    'household_size' SMALLINT,
    'mode_color' VARCHAR(10),
    PRIMARY KEY ('customer_id')
  );
CREATE TABLE 'teams' (
    'team_id' SERIAL,
    'team_name' VARCHAR(50),
    'team_name_short' VARCHAR(25),
    'team_abv' VARCHAR(4),
    'team_abv_pfr' VARCHAR(4),
    'team_conference' VARCHAR(4),
    'team_division' VARCHAR(12),
    'team_conference_pre2002' VARCHAR(4),
    'team_division_pre2002' VARCHAR(15),
    PRIMARY KEY ('team_id')
  );
CREATE TABLE 'game' (
    'game_outcome_id' SERIAL,
    'schedule_date' DATE,
    'schedule_season' DATE(YEAR),
    'schedule_week' VARCHAR(12),
    'schedule_playoff' VARCHAR(5),
    'team_id_home' INT,
    'score_home' SMALLINT,
    'team_id_away' INT,
    'score_away' SMALLINT,
    'winner_ou' VARCHAR(4),
    'winner_line' VARCHAR(4),
    'team_favored' VARCHAR(3),
    'favored_spread' NUMERIC(3,1),
    'over_under_line' NUMERIC(3,1),
    'stadium_id' INT,
    'stadium_neutral' VARCHAR(5),
    'weather_temperature' SMALLINT,
    'weather_wind_mph' SMALLINT,
    'weather_humidity' SMALLINT,
    'weather_detail' VARCHAR(15),
    PRIMARY KEY ('game_outcome_id'),
    CONSTRAINT 'FK_game.stadium_id'
      FOREIGN KEY ('stadium_id')
        REFERENCES 'nfl_stadium'('stadium_id'),
    CONSTRAINT 'FK_game.team_id_home'
      FOREIGN KEY ('team_id_home')
        REFERENCES 'teams'('team_id'),
    CONSTRAINT 'FK_game.team_id_away'
      FOREIGN KEY ('team_id_away')
        REFERENCES 'teams'('team_id')
  );
CREATE TABLE 'placed_bet' (
    'bet_id' SERIAL,
    'customer_id' INT,
    'game_outcome_id' INT,
    'bet_amount' SMALLINT,
    'bet_result' VARCHAR(4),
    'commision_paid' NUMERIC(8,2),
    'bet_on' VARCHAR(40),
    'bet_type' VARCHAR(10),
    PRIMARY KEY ('bet_id'),
    CONSTRAINT 'FK_placed_bet.customer_id'
      FOREIGN KEY ('customer_id')
        REFERENCES 'customer'('customer_id'),
    CONSTRAINT 'FK_placed_bet.game_outcome_id'
      FOREIGN KEY ('game_outcome_id')
        REFERENCES 'game'('game_outcome_id')
  );